html, body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000;
  
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#container{
  position: relative;
  width: 100vw;
  height: 100vh;
}

#bg{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#mask{
  position: absolute;
  left: 0;
  top: 0;
}

#controls{
  position: absolute;
  top: 20px;
  left: 20px;
  background: rgba(255, 255, 255, 0.85);
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 14px;
}
